#first{
  border: none;
  background-color: rgb(134, 219, 134);
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  font-size: large;
}
#second{
  padding: 10px;
  margin-right: 20px;
  font-size: large;
  border: 2px solid black;
  border-radius: 5px;
}
#third{
  margin-right: 20px;
  padding: 10px;
  border: none;
  background-color: rgb(134, 219, 134);
  border-radius: 5px;
  font-size: large;

}